@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@200;400;500;600&display=swap');

* { box-sizing: border-box; }


html { font-size: 14px; }

body, h1, h2, h3, p, figure, .menu { 
    padding: 0;
    margin: 0;
}

img { max-width: 100%; }

body { 
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1; }

a { text-decoration: none; }

h1 a {
    color: #FFBB00;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    padding-left: 40px;
    text-transform: uppercase;
}

h1 {
    font-weight: 800; 
    font-size: 1.5rem;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #1650A8; 
    height: 5rem;
}

header div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav h2 a { 
    color: #FFBB00;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
}

nav a:hover, nav a:focus { 
    background-color:  #0c3f8b;
}

/* Estilos para a navegação (menu) */
nav {
    /* Adicione estilos de posicionamento conforme necessário */
    float: right;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right; /* Alinhe o texto à direita */
    display: none;
    margin-right: 8rem;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 0; /* Espaçamento entre os links, ajuste conforme necessário */
}

.menu a {
    text-decoration: none;
    color: #FFBB00;
    font-weight: bold;
    font-size: 16px; /* Tamanho da fonte dos links, ajuste conforme necessário */
    padding: 1rem;
}


.menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: #0c3f8b;
    position: absolute;
    left: 0;
    right: 0; 
}

.banner-fundo {
    background-image: url(../imagens/dev1920.jpg);
    height: 125vh;
    color: #FFBB00;
    font-size: 2rem;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 150px; 
    padding-left: 37px;
    text-align: left; /* Alinhando o conteúdo à esquerda */
}

.banner-fundo p {
    font-size: clamp(2rem, 6vw, 4rem);
    margin-bottom: 20px; /* Espaçamento entre parágrafos, ajuste conforme necessário */
    top: 3rem;
}

/* ftmin = Fonte Mínima (Inter 200) */
.ftmin {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

/* ftmax = Fonte Máxima (Bungee 400) */
.ftmax {
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
}

.botao {
    background-color: #FFBB00; /* Cor de fundo do botão, ajuste conforme necessário */
    color: #000000; /* Cor do texto do botão, ajuste conforme necessário */
    height: 3rem; 
    width: 7rem;
    font-size: 1rem;
    font-weight: bold; /* Estilo de fonte do botão, ajuste conforme necessário */
    border: none; /* Remova a borda do botão, se desejado */
    border-radius: 8px;
}

/* Estilizando o elemento 'summary' quando está fechado */
summary {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
}
  
/* Estilizando o elemento 'summary' quando está aberto */
details[open] summary {
    background-color: #ccc;
}
  
/* Removendo o estilo padrão do marcador do 'summary' */
summary::-webkit-details-marker {
    display: none;
}
  
/* Estilizando o conteúdo dentro do 'details' */
details > * {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}
  
/* Estilizando o 'details' quando está aberto */
details[open] > * {
    background-color: #f9f9f9;
}

.quem-somos {
    background-color: #00245B;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    height: 32rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 40px 0 40px;
}

.corp {
    padding-top: 2rem;
    color: #FFBB00;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}


/* Para telas a partir de 530px */
@media screen and (min-width: 530px) { 
    .dtq {
        border: #FFBB00 1px solid;
        border-radius: 8px;
        
    }    

    nav h2 { display: none; }

    .menu { 
        display: flex; 
        justify-content: space-evenly;
    }

    nav { width: 20%; }

    .menu li { 
        width: 100%;
        text-transform: uppercase; 
    }
}

/* Para telas a partir de 1000px */
@media screen and (min-width:1000px) { 
    html { font-size: 16px; }
    .limitador {
        max-width: 1900px; 
        margin-top: 0.5rem;
    }
}
