* { box-sizing: border-box; }

html { font-size: 14px; }

body, h1, h2, h3, p, figure, .menu { 
    padding: 0;
    margin: 0;
}

img { max-width: 100%; }

body { 
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1; }

a { text-decoration: none; }

h1 a {
    color: #FFBB00;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    padding-left: 40px;
    text-transform: uppercase;
}

h1 {
    /* Google Fonts */
    font-family: Raleway, sans-serif; 
    font-weight: 800; 
    font-size: 1.5rem;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #1650A8;   
}

header div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav h2 a { 
    color: #FFBB00;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
}

nav a:hover, nav a:focus { 
    background-color:  #0c3f8b;
}

.menu {
    list-style: none;
    display: none; 
}

.menu a {
    color: #FFBB00;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: #0c3f8b;
    position: absolute;
    left: 0;
    right: 0; 
}

.banner-fundo {
    background-image: url(../imagens/dev1920.jpg);
    height: 85vh;
    color: #FFBB00;
}
.banner-fundo p {
     /* Função clamp()
    Utiliza valor mínimo, desejavel
    flexível, e valor máximo. */
    font-size: clamp(2rem, 6vw, 4rem)
}


.botao {
    background-color: #FFBB00;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
}

/* Para telas a partir de 530px */
@media screen and (min-width: 530px) { 
    nav h2 { display: none; }

    .menu { 
        display: flex; 
        justify-content: space-evenly;
    }

    nav { width: 70%; }

    .menu li { 
        width: 100%;
        text-transform: uppercase; 
    }
}

/* Para telas a partir de 1000px */
@media screen and (min-width:1000px) { 
    html { font-size: 16px; }
    .limitador { max-width: 1350px; }
}