@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@200;400;500;600&display=swap');

* { box-sizing: border-box; }


html { font-size: 14px; }

body, h1, h2, h3, p, figure, .menu { 
    padding: 0;
    margin: 0;
}

img { max-width: 100%; }

body { 
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;
    background-color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main { flex: 1; }

a { text-decoration: none; }

h1 a {
    color: #FFBB00;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    padding-left: 15px;
    text-transform: uppercase;
}

h1 {
    font-weight: 800; 
    font-size: 1.7rem;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #1650A8; 
    height: 5rem;
    display: flex;
    align-items: center;
}

/* nav h2 { display: none; } */

.menu { 
    display: flex; 
    justify-content: space-evenly;
}

nav { width: 20%; }

.menu li { 
    width: 100%;
    text-transform: uppercase; 
}

header div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.centralizar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icone {
    font-size: 35px;
}

nav h2 a { 
    color: #FFBB00;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
}

nav a:hover, nav a:focus { 
    background-color:  #0c3f8b;
}

/* Estilos para a navegação (menu) */
nav {
    /* Adicione estilos de posicionamento conforme necessário */
    float: right;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; 
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 0; /* Espaçamento entre os links, ajuste conforme necessário */
    padding: 20px;
}

.menu a {
    text-decoration: none;
    color: #FFBB00;
    font-weight: bold;
    font-size: 16px; /* Tamanho da fonte dos links, ajuste conforme necessário */
    padding: 1rem;
}

.menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: #0c3f8b;

}

.banner-fundo {
    background-image: url(../imagens/dev1920.jpg);
    height: 85vh;
    color: #FFBB00;
    font-size: 2rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px; 
    padding-left: 15px;
    text-align: left; /* Alinhando o conteúdo à esquerda */
}

.banner-fundo p {
    margin-bottom: 20px; /* Espaçamento entre parágrafos, ajuste conforme necessário */
}

/* texto banner = Fonte Mínima (Inter 200) */
.texto-banner {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 1.2;
    font-size: 1.9rem;
}

/* texto banner 2 = Fonte Máxima (Bungee 400) */
.texto-banner-2 {
    font-family: 'Bungee', cursive;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.botao {
    background-color: #FFBB00; /* Cor de fundo do botão, ajuste conforme necessário */
    color: #000000; /* Cor do texto do botão, ajuste conforme necessário */
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: bold; /* Estilo de fonte do botão, ajuste conforme necessário */
    border: none; /* Remova a borda do botão, se desejado */
    border-radius: 8px;
}

.quem-somos {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    height: 70rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 40px 0 40px;
}

.quem-somos img {
    width: 100%;
}

.qs-titulo {
    padding-top: 2rem;
    color: #FFBB00;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}

.o-que-fazemos img {
    margin-top: -20px;
}

.o-que-fazemos {
    background-color: #00245B;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 15px 0 15px;
    font-family: 'Inter', sans-serif;
    height: 65vh;
}

.o-que-fazemos h2 {
    color: #FFBB00;
    font-size: 2.3rem;
    font-family: 'Bungee', cursive;
    padding: 50px 0 15px 0;
    line-height: 4rem;
}

.areas-de-atuacao {
    background-color: #00245B;
    color: #fff;
    font-size: 1.4rem;
    padding: 10px;
    height: 75rem;
}

.areas-de-atuacao h2, h4 {
    color: #FFBB00;
    font-family: 'Bungee', cursive;
    padding: 10px 0 10px 0;
    margin-bottom: -15px;
}

.pt-comecar {
    background-color: #FFBB00;
    color: #00245B;
    height: 13vh;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
}

.pt-comecar button {

    display: inline-block;
    padding: 7px 14px;
    background-color: #071D94; 
    color: #ffffff; 
    font-size: 14px;
    border: none; 
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px; 
    cursor: pointer; 
    text-decoration: none; 
  }
  
  .button:hover {
    background-color: #0c3f8b;
  }
  
  .button:active {
    background-color: #1650A8; 
  }


/* Para telas a partir de 530px */
@media screen and (min-width: 530px) { 
    .dtq {
        border: #FFBB00 1px solid;
        border-radius: 8px;
    }    

    
}

/* Para telas a partir de 1000px */
@media screen and (min-width:1000px) { 
    html { font-size: 16px; }
    .limitador {
        max-width: 1900px; 
        margin-top: 0.5rem;
    }
}
